@using VacanciesScrapper_BLL.Enums
@model List<VacanciesScrapper_Web.Models.VacancyViewModel>

<div class="row">
    <div class="mx-auto">
        <h1 class="text-center">Junior's tears</h1>
        <h3 class="text-center">Vacancies for junior software developers. With love</h3>
    </div>
    <div>
        <h4>Select Category:</h4>
        <form asp-controller="Home" asp-action="Index" method="get" style="display: inline;">
            <input type="hidden" name="cat" value="@Categories.Dotnet" />
            <button type="submit">.NET</button>
        </form>

        <form asp-controller="Home" asp-action="Index" method="get" style="display: inline;">
            <input type="hidden" name="cat" value="@Categories.Java" />
            <button type="submit">Java</button>
        </form>

        <form asp-controller="Home" asp-action="Index" method="get" style="display: inline;">
            <input type="hidden" name="cat" value="@Categories.Python" />
            <button type="submit">Python</button>
        </form>

        <!-- Add more category buttons as needed -->
    </div>
    <div>
        @foreach (var vacancy in Model)
        {
            <div class="vacancy-block">
                <!-- Company Name and Image -->
                <div class="vacancy-header">
                    <img src="@vacancy.CompanyImg" alt="Company Logo" style="width: 50px; height: 50px; margin-right: 10px;">
                    <div style="display: flex; gap: 10px;">
                        <strong>Company: @vacancy.Company</strong>
                        <strong>Location: @vacancy.Location</strong><br>
                        <!--<strong>Posted:</strong> October 10, 2024-->
                    </div>
                </div>

                <!-- Title and Salary -->
                <div class="vacancy-title-salary">
                    <strong>@vacancy.Title</strong><br>
                    @if (!string.IsNullOrEmpty(vacancy.Salary))
                    {
                        <strong class="text-success">Salary: @vacancy.Salary</strong>
                    }
                </div>

                <!-- Short Description -->
                <div class="vacancy-description">
                    <strong>@vacancy.shortDescription</strong><br />
                    <strong>AI: Fit for you by CV on
                        <span class = @(vacancy.fitByCv >= 70 ? "text-success" : 
                                        vacancy.fitByCv >= 30 ? "text-warning" : "text-danger")
                        >
                        @vacancy.fitByCv%</span></strong>
                </div>
                <div class="mt-2">
                    <a class="btn btn-primary seefullbutton" href="@vacancy.Link" target="_blank">
                        See full vacancy
                    </a>
                </div>
            </div>
        }
    </div>

</div>