@using VacanciesScrapper_Utils.Enums
@model List<VacanciesScrapper_Web.Models.VacancyViewModel>

<div class="row">
    <div class="mx-auto">
        <h1 class="text-center">Junior's tears</h1>
        <h3 class="text-center">Vacancies for junior software developers. With love</h3>
    </div>

    <!-- Form for category and experience selection -->
    <form method="get" class="w-50 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <div class="category-picker">
                    <h4>Select Category:</h4>
                    <select name="cat" id="categorySelect" class="form-select">
                        <option value="Dotnet">DotNet</option>
                        <option value="Java">Java</option>
                        <option value="Python">Python</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="experience picker">
                    <h4>Select Experience:</h4>
                    <select name="exp" id="experienceSelect" class="form-select">
                        <option value="LessThanOne">Less than 1 year</option>
                        <option value="OneToThree">1 to 3 years</option>
                        <option value="ThreeToFive">3 to 5 years</option>
                        <option value="MoreThanFive">More than 5 years</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-2 text-center">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <div>
        @foreach (var vacancy in Model)
        {
            <div class="vacancy-block">
                <!-- Company Name and Image -->
                <div class="vacancy-header">
                    <img src="@vacancy.CompanyImg" alt="Company Logo" style="width: 50px; height: 50px; margin-right: 10px;">
                    <div style="display: flex; gap: 10px;">
                        <strong>Company: @vacancy.Company</strong>
                        <strong>Location: @vacancy.Location</strong><br>
                    </div>
                </div>

                <!-- Title and Salary -->
                <div class="vacancy-title-salary">
                    <strong>@vacancy.Title</strong><br>
                    @if (!string.IsNullOrEmpty(vacancy.Salary))
                    {
                        <strong class="text-success">Salary: @vacancy.Salary</strong>
                    }
                </div>

                <!-- Short Description -->
                <div class="vacancy-description">
                    <strong>@vacancy.shortDescription</strong><br />
                    <strong>
                        AI: Fit for you by CV on
                        <span class=@(vacancy.FitByCv >= 70 ? "text-success" :
                          vacancy.FitByCv >= 30 ? "text-warning" : "text-danger")>
                            @vacancy.FitByCv%
                        </span>
                    </strong>
                </div>
                <div class="mt-2">
                    <a class="btn btn-primary seefullbutton" href="@vacancy.Link" target="_blank">
                        See full vacancy
                    </a>
                </div>
            </div>
        }
    </div>
</div>
