@model List<VacanciesScrapper_Web.Models.VacancyViewModel>

<div class="row">
    <div class="mx-auto">
        <h1 class="text-center">Junior's tears</h1>
        <h3 class="text-center">Vacancies for junior software developers. With love</h3>
    </div>
    <div class="chooser mx-auto">
        <!-- Category Selector -->
        <div class="mx-auto">
            <label for="category-select"><strong>Category:</strong></label>
            <select id="category-select">
                <option value="None">------</option>
                <option value=".NET">.NET</option>
                <option value="JAVA">Java</option>
                <option value="React">React</option>
                <option value="Js">Java Script</option>
                <option value="C++">C++</option>
                <option value="Node.JS">Node.js</option>
            </select>
            <label for="category-select"><strong>Experience:</strong></label>
            <select id="category-select">
                <option value="None">------</option>
                <option value="LessThanOne">LessThanOne</option>
                <option value="FromOneToThree">FromOneToThree</option>
                <option value="FromThreeToFive">FromThreeToFive</option>
                <option value="FivePlus">FivePlus</option>
            </select>
        </div>
    </div>
    <div>
        @foreach (var vacancy in Model)
        {
            <div class="vacancy-block">
                <!-- Company Name and Image -->
                <div class="vacancy-header">
                    <img src="@vacancy.CompanyImg" alt="Company Logo" style="width: 50px; height: 50px; margin-right: 10px;">
                    <div style="display: flex; gap: 10px;">
                        <strong>Company: @vacancy.Company</strong>
                        <strong>Location: @vacancy.Location</strong><br>
                        <!--<strong>Posted:</strong> October 10, 2024-->
                    </div>
                </div>

                <!-- Title and Salary -->
                <div class="vacancy-title-salary">
                    <strong>@vacancy.Title</strong><br>
                    @if (!string.IsNullOrEmpty(vacancy.Salary))
                    {
                        <strong class="text-success">Salary: @vacancy.Salary</strong>
                    }
                </div>

                <!-- Short Description -->
                <div class="vacancy-description">
                    <strong>@vacancy.shortDescription</strong><br />
                    <strong>AI: Fit for you by CV on
                        <span class = @(vacancy.fitByCv >= 70 ? "text-success" : 
                                        vacancy.fitByCv >= 30 ? "text-warning" : "text-danger")
                        >
                        @vacancy.fitByCv%</span></strong>
                </div>
                <div class="mt-2">
                    <a class="btn btn-primary seefullbutton" href="@vacancy.Link" target="_blank">
                        See full vacancy
                    </a>
                </div>
            </div>
        }
    </div>

</div>